body{
    font-family: "Montserrat ";
}


h1 
{  
    font-family: "Montserrat-black, sans-serif";  
    font-size: 4rem; 
    line-height: 1.5; 
    font-weight: bolder;

}
h2{
    font-family: "Montserrat-bold" ;
    font-size: 3em;
    line-height: 1.5;
    font-weight: bold;
}
h3{
    font-family: "Montserrat-bold";
    font-size: 2em;
}
p{
    color: #8f8f8f;
}

#title
{
    background-color: #ff4c68;
    color: #fff;

}

.container-fluid{
    padding: 3% 15%;
}

/* navigation bar */
.navbar{
    padding-bottom: 4em;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5em;
    font-weight: bold;
}
.nav-item{
    padding: 0px 10px;
}

.nav-link{
    font-size: 1rem;
    font-family: "Montserrat";
}

/* title image  */
.title-img{
    
    margin-left: 20px;
    width: 60%;
    transform: rotate(25deg);
    /* position:absolute; */
    
}

/* features-section */
#features{
    background-color: #fff;
    padding: 7% 15%;
    /* position: relative;
    z-index: 1;*/
}
.feature-box{
    text-align: center;
    padding: 5%;
    
}
.feature-box i{
    color: #ef8172;
    margin-bottom: .2em;
}
.feature-box i:hover{
    color:#ff4c68;
}
/* testimonials section */
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 0 30px;
}

.carousel-item{
    padding: 7% 15%;

}
/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#press img{
    width:15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    text-align: center;
    padding:100px
}
/* call to action  */
#cta{
    background-color:#ff4c68;
    text-align: center;
    font-family: "Montserrat-black";
    color: #fff;
    font-size: 1.5em;
    padding: 100px;
}
#cta h3{
    padding-bottom: 1em;
}

/* footer */
#footer{
    text-align: center;
    background-color: #fff;
    padding: 20px;
}


/* media queries */

@media (max-width: 1028px) {
    .title-img{
        transform: rotate(0deg);
        margin-top: 50px;
    }
    #title{
        text-align: center;
    }
    
}
